//Variables
$nav-bg-color: #212F3D;
$nav-ul-color:#FBFCFC;
$nav-ul-dropdown: #808B96;
$welcome-heading-style: 40px;
$welcome-top: 150px;
$welcome-border: 1px solid #fff;

//courses variables
$course-height: 350px;
$course-bg-color:#fff;
